<!DOCTYPE html>
<html>
  <head>
    <title>Web UI - Nivel 3 - Modulo 1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/foundation.min.css" rel="stylesheet">        
    <link href="css/site.css" rel="stylesheet">        
    <script src="js/lib/require.js" data-main="js/app"></script>
  </head>
  <body>
    <div class="inner-wrap">
      <header id="navbar">
      </header>
      <section id="products-top" class="row">
      </section>
      <section role="main">
        <div class="row">
          <div id="products-list" class="medium-4 columns">
          </div>
          <div class="medium-8 columns" id="shopping-cart-sidebar">
          </div>
        </div>
      </section>
    </div>

    <script type="text/template" id="navigation-tmpl">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Shopping Cart</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="#">Items on Cart: <span class="badge"><%- cartItems %></span></a></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="#list">Products List</a></li>
            <li><a href="#newProduct">New Product</a></li>
          </ul>
        </section>
      </nav>
    </script>
    
    <script type="text/template" id="products-list-tmpl">
      <h2>Products List</h2>
      <p></p>
      <ul>
        <% _.each(products, function(product) { %>
        <li>
          <p>
            <%- product.name %>
            <img src="<%- product.image %>" class="img-rounded thumb">
            <button type="button" class="btn-details button radius tiny right" value="<%- product.id %>">
              <span>Details</span>
            </button>
          </p>
        </li>
        <% }); %>
      </ul>
    </script> 
    
    <script type="text/template" id="products-details-tmpl">
      <h3><%- product.name %></h3>
      <img src="<%- product.image %>" class="img-thumbnail detail">
      <dl class="dl-horizontal">
        <dt>Price:</dt>
          <dd>$<%- product.precio %></dd>
        <dt>Description:</dt>
          <dd><%- product.descripcion %></dd>
      </dl>
      <button type="button" class="btn-add button radius left" value="<%- product.id %>">
        <span>Add to Cart</span>
      </button>
    </script>      
    
    <script type="text/template" id="products-new-tmpl">
      <h2>New Product</h2>
      <p></p>
      <div class="row">
        <div class="medium-3 column">
          <label for="name_form">Name</label>
          <input type="text" id="name_form" class="form-control" placeholder="Nokia Lumia" required>
        </div>
        <div class="medium-3 column">
          <label for="price_form">Price</label>
          <input type="text" id="price_form" class="form-control" placeholder="500" required>
        </div>
        <div class="medium-3 column">
          <label for="desc_form">Description</label>
          <input type="text" id="desc_form" class="form-control" placeholder="It's a great cellphone!" required>
        </div>
        <div class="medium-3 column">
          <label for="image_form">Image URL</label>
          <input type="text" id="image_form" class="form-control" placeholder="images/cellphone.jpg" required>
        </div>
      </div>
      <div class="row">
        <button type="button" class="button radius btn-add success tiny left"><span>Add to Warehouse</span></button>
      </div>
    </script>      
    
    
    <script type="text/template" id="products-slide-tmpl">
      <ul class="example-orbit" data-orbit>
        <% _.each(products, function(product, idx) { %>
          <li>
            <img src="<%- product.image %>" alt="slide <%- idx%>" />
            <div class="orbit-caption">
              <h3><%- product.name %></h3>
              <p>$<%- product.precio %></p>
              <p><%- product.descripcion %></p>
              <button type="button" class="small right" value="<%- product.id %>">
                <span>Add to Cart</span>
              </button>
            </div>
          </li>
        <% }); %>
      </ul>  
    </script>      
  </body>
</html>
